body{
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }   /*밑줄제거*/
  
  .navbar{
    display: flex;
    justify-content: space-between;   /*좌우 정렬*/
    align-items: center;    /*상하 정렬*/
    height: 60px;
    background-color: #045D8B;
    padding-left: 30px;   /*좌 여백*/
    padding-right: 30px;    /*우 여백*/
  }
  
  .navbar a{
    color: white;
  }   /*navbar안의 글자*/
  
  .navbar_toggleBtn{
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 3px;
  
    /* position: absolute; */
    font-size: 24px;
    /* left: 17px;
    top: 18px; */
  
    color: #FFFFFF;
  }
  
  .ajou_memo{
    display: flex;
    
  }
  
  /* #login{
  } */
  
  .navbar-menu {
    width: 30%;
    height: 100%; 
    background-color: #CFDAFF;
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
  }/*nav bar에서 추가적으로 나오는 메뉴 말하는 것으로 추정*/
  
  .navbar-menu p {
    color: black;
    padding: 15px 15px;
    border-bottom: 1.5px solid #045D8B;
  
  }
  /*
  .active {
    display: flex;
  } 이거는 잘 모르겠네..
  /*
  
  /* 등록하기 정렬문제 해결
  a 태그자체만으로 정렬 시도를 한 것이 문제
  감싸고 있는 div 태그를 건드니리까 해결됨 */
  .first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 30px;    /*위쪽 여백 10, 아래쪽 여백 30*/
  }
  
  .first a {
    color : black;
  }
  
  .context{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;     /*위에서 아래로 정렬*/
    padding-bottom: 30px;   /*아래 여백*/
  }
  
  .inner {
    border: 1px solid black;
    border-bottom: 0px;
    padding: 15px 50px;
  }
  
  .inner:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .inner:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid black;
  }     /*우선순의의 문제로 테두리 둥근걸로 설정 가능*/
  
  .inner p{
    display: inline;
    padding: 10px;
  } /*inner의 p속성에 대한 설정*/
  
  .nextNum{
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
  }
  
  .nextNum a {
    padding: 3px 10px;
    border: 1px solid black;
  }
  